.listing-show{
    background-color: #ffffff;
    color: #333121;
    padding-left: 24px;
    padding-right: 24px;
    max-width: 1280px;
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

.fa-circle-arrow-left{
    margin-top: 10px;
    margin-left: 20px;
    color: #9f3f24;
    font-size: 30px;
}

.listing-show-header{
    margin-bottom: 20px;
    text-align: left;
}

.listing-show-header h1{
    font-size: 40px;
    margin-left: 20px;
    margin-top: 20px;
    font-weight: 700;
    letter-spacing: -0.96;
    line-height: 54px;
    /* border: 3px solid blue; */
}

.listing-show-image-header{
    margin-left: 20px;
    margin-right: 20px;
}

.listing-show-visuals {
    display: flex;
    overflow: hidden;
    align-items: flex-start;
    box-sizing: border-box;
    border-radius: 8px;
}

.listing-show-visuals-main {
    display: flex;
    align-items: center;
    width: 50%;
    overflow: hidden;
    border-right: 4px solid white;
    height: min(464px,37.7vw);
}       

#listing-main-image {
    
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
    border-radius: 15px;
    
}

.listing-show-visuals-sub {
    width:50%;
    display:flex;
    flex-wrap: wrap;
    height: min(464px, 37.7vw);
    border-left: 4px solid white;
}

.listing-show-visuals-sub img {
    width:120%;
    height: 100%;
    align-self: center;
    border-radius: 15px;

}

.listing-show-visuals-sub div {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 50%;
}

#listing-image-sub-top-left {
    
    border-right: 4px solid white;
    border-bottom: 4px solid white;
    box-sizing: border-box;
    width:50%;
}

#listing-image-sub-top-right {
    border-left: 4px solid white;
    border-bottom: 4px solid white;
    box-sizing: border-box;
    width: 50%;
}

#listing-image-sub-bottom-left {
    border-right: 4px solid white;
    border-top: 4px solid white;
    box-sizing: border-box;
    width: 50%;
}

#listing-image-sub-bottom-right {
    box-sizing: border-box;
    border-left: 4px solid white;
    border-top: 4px solid white;
    width: 50%;
}


.listing-show-section{
    margin: 20px;
    display: flex;
    padding-bottom: 30px;
    /* justify-content: space-between; */
    /* border: 3px solid green; */
}


.listing-show-section p{
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 10px;
    width: 750px;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 30px;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 12vmin;
    /* position: sticky; */
    /* border: 1px blue solid; */
}

.listing-show-section ul {
    margin-right: 70px;
    /* border: 1px green solid; */
}


.listing-show-section li{
    font-size: 13px;
    font-weight: lighter;
    margin-bottom: 10px;
    letter-spacing: 0px;
    line-height: 24px;
    width: 149px;
    /* border: 1px orange solid; */
    
}

.listing-show-section h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    letter-spacing: 0px;
    line-height: 30px;

}

.info-category i {
    margin-right: 5px;
}

.info-category{
    font-size: 14px;
}


.listing-show-map{
    margin: 20px;
    /* border: 3px solid pink; */
    height: 400px;
}

.listing-show-map h2{
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 0px;
    line-height: 34px;
    margin-bottom: 24px;
}

.listing-show-booking{
    /* margin: 20px; */
    /* border: 3px solid yellow; */
    padding: 28px;
    padding-bottom: 70px;
}

.listing-show-booking h2{
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 0px;
    line-height: 34px;
}

.listing-show-reviews{
    padding: 20px;
    padding-top: 70px;
    /* border: 3px solid red; */
}

.listing-show-reviews > h2{
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 0px;
    line-height: 34px;
    padding-bottom: 8px;
}

.listing-show-reviews > h2 > i{
    padding-right: 5px;
    font-size: 23px;
}

.listing-show-reviews > h3{
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0px;
    line-height: 30px;
    padding-bottom: 8px;
}

.listing-review{
    margin-bottom: 20px;
    grid-template-columns: 1fr 1fr;
    display: grid;
    grid-gap: 20px;
}

.review {
    min-height: 100px;
    border: 1px solid rgb(230,230,230);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    margin-right: 70px;
}

.review > h2 {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0px;
    line-height: 24px;
    margin-bottom: 10px;
}

.review > p {
    font-size: 12px;
}

.delete-review{
    color: red;
    position: relative;
    left: 45%;
}

.delete-review:hover{
    cursor: pointer;
}

.section-break{
    border-top: 1px solid rgb(240, 239, 236);
    padding-bottom: 20px;
}