.Home-Page-Container{
    background-color: #f3f2ef;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1232px;
}

.Home-Page-Text-Heading{
    align-items: center;
    color: #333121;
    display: flex;
    flex-direction: column;
    font-weight: 800;
    justify-content: center;
    padding: 60px 0;
    text-align: center;
    width: 100%;
}

.Home-Page-Text-Heading h1{
    font-size: 62px;
    font-weight: 700;
    letter-spacing: -1.44px;
    line-height: 78px;
    
}

.Home-Page-Text-Heading > p {
    font-size: 23px;
    font-weight: 549;
    letter-spacing: 0px;
    line-height: 34px;
    max-width: 440px;
    padding-bottom: 40px;
    text-align: center;
}

.Home-Page-Image-Container{
    align-items: center;
    border-radius: 24px;
    display: flex;
    margin-top: -55px;
    max-height: 480px;
    overflow: hidden;
    width: 100%;
}

.Home-Page-Image-Container img{
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.Home-Page-Card-Container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
    overflow: hidden;
    width: 100%;
}

.Home-Page-Card{
    border-radius: 24px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-width: 604px;
    overflow: hidden;
    width: 100%;
    transition: transform 250ms;
}

.Home-Page-Card:hover{
    transform: translateY(-10px);
    box-shadow: 0 10px 30px -10px rgba(0,0,0,0.7);
}

.Home-Page-Card-Image-Container, img{
    height: 290px;
    overflow: hidden;
    width: 100%;
    object-fit: cover;
}

.Home-Page-Card-Info{
    background-color: #b6613e;
    color: #fff;
    display: flex;
    justify-content: space-between;
    /* margin-top: -140px; */
    padding: 24px 32px;
    position: relative;
    z-index: 100;
    height: 127px;
}

#Card-Two{
    background-color: #2B3615;
}

#Button-Two{
    color: #2B3615
}

.Home-Page-Card-Text{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.Home-Page-Card-Text h3{
    font-size: 13px;
    padding-bottom: 15px;
}

.Home-Page-Card-Text p{
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    padding-bottom: 15px;
}

.Home-Page-Book-Now{
    align-self: center;
    background: #fff;
    border: none;
    border-radius: 100px;
    color: #e05028;
    font-size: 18px;
    padding: 16px 50px;
    cursor: pointer;
}

.Home-Page-Footer {
    padding: 100px 0 30px;
    text-align: left;
    width: 100%;
}

.Home-Page-Sub-Card-Container{
    margin-top: 70px;
}

.Home-Page-Sub-Card-Container h3{
    margin-bottom: 30px;
    font-family: Calibre, Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0px;
    line-height: 30px;
}

.Home-Page-Sub-Cards{
    margin-bottom: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    grid-gap: 20px;
}



.Sub-Card{
    border-radius: 24px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-width: 604px;
    overflow: hidden;
    width: 100%;
    transition: transform 250ms;
}

.Sub-Card:hover{
    transform: translateY(-10px);
    box-shadow: 0 10px 30px -10px rgba(0,0,0,0.7);
    cursor: pointer;
}

.Sub-Card-Button:hover{
    cursor: pointer;
}

.Sub-Card-Image-Container{
    height: 290px;
    overflow: hidden;
    width: 100%;
    object-fit: cover;
    position : relative;
}

.Sub-Card-Button {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    padding: 17px 30px;
    background-color: #555;
    border-radius: 100px;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px 0px;
    max-width: 75%;
    flex-basis: 75%;
  }

#Button-three{
    background-color: #B18667
}

#Button-four{
    background-color: #17807D
}

#Button-five{
    background-color: #C0A583
}

