.review-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.review-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    text-align-last: left;
}

.review-form-header, .update-review-form-header {
    text-align: left;
    margin-bottom: 40px;
    align-self: flex-start;
}

.review-form-header h1 , .update-review-form-header h1 {
    margin-bottom: 12px;
    color: rgb(40, 64, 12);
    font-weight: 700;
    letter-spacing: -0.96px;
    line-height: 54px;
    font-size: 36px;
}

.review-form-header p , .update-review-form-header p {
    color: rgb(60, 60, 60);
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 24px;
}

.review-form label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* margin: 5px; */
    width: 100%;
}

.review-form textarea {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid gray;
    width: 100%;
    max-width: 97%;
    height: 35px;
    margin-left: 0px;
    font-size: 11px;
}

.review-form button[type="submit"] {
    background-color: rgb(0, 197, 133);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(0, 197, 133);
    color: white;
    height: 37px;
    width: 18%;
    font-size: 11px;
    font-weight: bold;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 24px;
    padding-right: 24px;
    font-family: Calibre, Helvetica, Arial, sans-serif;
    margin-top: 15px;
    cursor: pointer;
}

.review-form button[type="submit"]:hover {
    background-color: #00a26a;
}

.edit-review-button{
    cursor: pointer;
    color: rgb(0, 197, 133);
}

.edit-review-button:hover{
    color: #00a26a;
}
